{% load static %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load humanize %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
  	<style type="text/css">
  	a:hover, a:visited, a:link, a:active
			{
			    text-decoration: none;
			}
  	</style>
	<title >Canada Science and Technology Museums Corporation | Code 2015 | Museum Image search Engine | Société des Musées de Sciences et Technologies du Canada </title>
</head>
<body>


  {% block content %}
  {% endblock %}
  
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>