{% extends 'base_homepage.html' %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<form accept-charset="UTF-8" action="/portail/search" class="form-group main-form" id="search-form" method="get">
{% csrf_token %}
  <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
  <input class="form-group main-form" id="q_objname_en_cont" name="searchKey"  placeholder='{%trans "Search an Artefacts by its name "%}' required="required" style="height:40px;width:60%;color:black;" type="search">
  <input class="btn btn-warning" type="submit" value="{% trans 'Search' %}">
</form>
<ul class="advanced">
	<li><span href="#" style="background-color:rgba(0, 0, 0, 0.5);font-size:20px !important;" class="element2" >&nbsp;</span></li>
	<li>&nbsp;</li><br>
	<!--
	<li><a href="#"  class="btn btn-xs btn-primary">Advanced Search </a></li>
	-->
</ul>

{% endblock %}