{% extends 'base.html' %}
{% load static %}
{% load portail_extras %}
{% load bootstrap_pagination %}




{% block content %}


	<header class="cd-header" style="margin-top:0px !important;">

		<h1>
			<a href="/" class="filter">Home</a>
		</h1>



	</header>




	<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"> 
						<a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
					</li> 
					<li class="filter"><a class="selected" href="#0" data-type="all">All Manufacturers Countries</a></li>
					<li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Canada</a></li>
					<li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">USA</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->

		<section class="cd-gallery">

<style type="text/css">
	 li.disabled span{
		color:black;
	}
</style>



			<ul>
			{% if object_list %}
				{% for artefact in object_list %}
					<li class="mix {% get_groups artefact.group1  %} 	{% get_categories artefact.category1  %} {% get_country artefact.ManuCountry  %} {% get_materials artefact.material  %}">
						<span class="mix {% display_groups artefact.group1  %} 	{% display_categories artefact.category1  %} {% display_country artefact.ManuCountry  %} {% display_materials artefact.material  %}" ></span>
						<a href="{% url 'portail:artefact_detail' artefact.id %}">
							<img src="{{artefact.image}}" alt="{{ artefact.id}}">
						</a>
					</li>
				{% endfor %}
				<!-- 
				<li class="mix color-2 check2 radio2 option2"><img src="{% static 'img/img-2.jpg' %}" alt="Image 2"></li>
				<li class="mix color-1 check3 radio3 option1"><img src="{% static 'img/img-3.jpg' %}" alt="Image 3"></li>
				<li class="mix color-1 check3 radio2 option4"><img src="{% static 'img/img-4.jpg' %}" alt="Image 4"></li>
				<li class="mix color-1 check1 radio3 option2"><img src="{% static 'img/img-5.jpg' %}" alt="Image 5"></li>
				<li class="mix color-2 check2 radio3 option3"><img src="{% static 'img/img-6.jpg' %}" alt="Image 6"></li>
				<li class="mix color-2 check2 radio2 option1"><img src="{% static 'img/img-7.jpg' %}" alt="Image 7"></li>
				<li class="mix color-1 check1 radio3 option4"><img src="{% static 'img/img-8.jpg' %}" alt="Image 8"></li>
				<li class="mix color-2 check1 radio2 option3"><img src="{% static 'img/img-9.jpg' %}" alt="Image 9"></li>
				<li class="mix color-1 check3 radio2 option4"><img src="{% static 'img/img-10.jpg' %}"  alt="Image 10"></li>
				<li class="mix color-1 check3 radio3 option2"><img src="{% static 'img/img-11.jpg' %}"  alt="Image 11"></li>
				<li class="mix color-2 check1 radio3 option1"><img src="{% static 'img/img-12.jpg' %}"  alt="Image 12"></li>

				commenting -->
				
				<li class="gap"></li>
				<li class="gap"></li>
				<li class="gap"></li>
			</ul>
			{% else %}
			<div class="cd-fail-message">No results found</div>
			{% endif %}



		</section> <!-- cd-gallery -->

		<div class="cd-filter">
			<form>
			<!--
				<div class="cd-filter-block">
					<h4>Search</h4>
					
					<div class="cd-filter-content">
						<input type="search" placeholder="Try color-1...">
					</div> 
				</div> 
				-->


				<div class="cd-filter-block">
					<h4>Materials</h4>
					
					<div class="cd-filter-content">
						<div class="cd-select cd-filters">
							<select class="filter" name="selectThis" id="selectThis">
								<option value="">Choose a Material</option>
								<option value=".option1">Glass</option>
								<option value=".option2">Metal</option>
								<option value=".option3">Paper</option>
								<option value=".option4">Other</option>
							</select>
						</div> <!-- cd-select -->
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Group</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
							<label class="radio-label" for="radio1">All</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
							<label class="radio-label" for="radio2">Aviation</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
							<label class="radio-label" for="radio3">Vacuum Tubes</label>
						</li>
						<li>
							<input class="filter" data-filter=".radio4" type="radio" name="radioButton" id="radio4">
							<label class="radio-label" for="radio4">Railway Transportation</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
			</form>



				<div class="cd-filter-block">
					<h4>Category</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">Receiving</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">Aircraft parts</label>
						</li>

						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">Others</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

			<a href="#0" class="cd-close">Close</a>
		</div> <!-- cd-filter -->

		<a href="#0" class="cd-filter-trigger">Filters</a>
	</main> <!-- cd-main-content -->


{% endblock %}